<div class="main-container">
  <div class="header">
    <h1>Gestão de Clientes</h1>
    <app-button>NOVO CLIENTE</app-button>
  </div>

  <div class="search-container">
    <input type="text" class="search-input" placeholder="Pesquisar clientes..." (keyup)="updateFilter($event)">
  </div>

  <div class="table-container">
    <ngx-datatable #myTable class="dark-theme expandable" [rows]="rows" [loadingIndicator]="loading" [rowHeight]="50"
      [headerHeight]="50" [footerHeight]="50" [scrollbarH]="false" [scrollbarV]="true" [limit]="10"
      [columnMode]="'force'" style="height: calc(100vh - 200px);">

      <ngx-datatable-column name="ID" prop="clienteId" [width]="40"  [canAutoResize]="false">
      </ngx-datatable-column>

      <ngx-datatable-column name="Nome" prop="nome" [flexGrow]="1">
      </ngx-datatable-column>

      <ngx-datatable-column name="Ações" [sortable]="false" [width]="100" [canAutoResize]="false">
        <ng-template ngx-datatable-header-template>
          <span class="header-alignment">Ações</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="actions">
            <button class="action-btn edit">
              <i class="fas fa-edit"></i>
            </button>
            <button class="action-btn delete">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>